.pager {
  width: 300px;
  height: 40px;
  /* background-color: rgba(0,0,0,.5); */
  display: flex;
  justify-content: space-between;
}

button {
  outline: none;
  border: none;
  background-color: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s all;
}

button:hover {
  background-color: black;
  color: #fff;
}

button.noactive {
  opacity: 0;
  cursor: none;
}
